[Unit]
Description=Tydom to MQTT systemd Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=notify
ExecStart=/usr/bin/python3 -u /usr/share/hassio/share/tydom/main.py
StandardInput=tty-force
StandardOutput=syslog
StandardError=syslog
WatchdogSec=64
Restart=always
RestartSec=8

[Install]
WantedBy=multi-user.target
